/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: slategray;
  color: white;
}

h1 {
  font-family: verdana, arial, sans-serif; 
  font-style: italic;
  color: White;
}

button{
  padding: 10px;
  border-radius: 10px;
}

#gameButtonArea > button{
  width:200px;
  height:200px;
  margin:2px;
}

#button1{
  background: lightgreen;
}
#button1:active{
  background: green;
}

#button2{
  background: lightblue;
}
#button2:active{
  background: blue;
}

#button3{
  background: pink;
}
#button3:active{
  background: red;
}

#button4{
  background: lightyellow;
}
#button4:active{
  background: yellow;
}
/*hover won't affect the simon says buttons because they have a more specific identifier
25 minutes so far*/
button:hover{
  background: cyan;
}

.hidden{
  display: none;
}